<aside class="sidebar-content">
  <div class="sidebar-content__logo">
    <img src="/assets/img/image.png" alt="Logo" />
    <span class="sidebar-content__brand"></span>
  </div>
  <nav>
    <ul class="sidebar-content__menu">
      <li class="sidebar-content__item">
        <a routerLink="/dashboard" routerLinkActive="is-active" class="sidebar-content__link">
          <img src="/assets/icon/dashboard.svg" class="sidebar-content__icon" />
          <span class="sidebar-content__text">Dashboard</span>
        </a>
        <a routerLink="/raffles" routerLinkActive="is-active" class="sidebar-content__link">
          <img src="/assets/icon/tickets.svg" class="sidebar-content__icon" />
          <span class="sidebar-content__text">Mis Rifas</span>
        </a>
        <a routerLink="/users" routerLinkActive="is-active" class="sidebar-content__link">
          <img src="/assets/icon/user.svg" class="sidebar-content__icon" />
          <span class="sidebar-content__text">Usuarios</span>
        </a>
        <a routerLink="/foundations" routerLinkActive="is-active" class="sidebar-content__link">
          <img src="/assets/icon/foundation.svg" class="sidebar-content__icon" />
          <span class="sidebar-content__text">Fundaciones</span>
        </a>
        <a routerLink="/categories" routerLinkActive="is-active" class="sidebar-content__link">
          <img src="/assets/icon/category.svg" class="sidebar-content__icon" />
          <span class="sidebar-content__text">Categorias</span>
        </a>
        <a routerLink="/history" routerLinkActive="is-active" class="sidebar-content__link">
          <img src="/assets/icon/history.svg" class="sidebar-content__icon" />
          <span class="sidebar-content__text">Historial</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
