<aside class="sidebar-content">
  <div class="sidebar-content__logo">
    <img src="/assets/img/image.png" alt="Logo" />
    <span class="sidebar-content__brand"></span>
  </div>
  <nav class="sidebar-content__nav">
    <ul class="sidebar-content__menu">
      @if (userRole !== 'SORTEADOR') {
        <li class="sidebar-content__category">
          <span class="sidebar-content__category-title">Principal</span>
          <a routerLink="/dashboard" routerLinkActive="is-active" class="sidebar-content__link">
            <img src="/assets/icon/dashboard.svg" class="sidebar-content__icon" />
            <span class="sidebar-content__text">Dashboard</span>
          </a>
          <a routerLink="/history" routerLinkActive="is-active" class="sidebar-content__link">
            <img src="/assets/icon/history.svg" class="sidebar-content__icon" />
            <span class="sidebar-content__text">Historial</span>
          </a>
        </li>

        <li class="sidebar-content__category">
          <span class="sidebar-content__category-title">Gestión</span>
          <a routerLink="/raffles" routerLinkActive="is-active" class="sidebar-content__link">
            <img src="/assets/icon/tickets.svg" class="sidebar-content__icon" />
            <span class="sidebar-content__text">Mis Rifas</span>
          </a>
          <a routerLink="/staff" routerLinkActive="is-active" class="sidebar-content__link">
            <img src="/assets/icon/user.svg" class="sidebar-content__icon" />
            <span class="sidebar-content__text">Admins</span>
          </a>
          <a routerLink="/players" routerLinkActive="is-active" class="sidebar-content__link">
            <i class="bi bi-people sidebar-content__icon" style="font-size: 1.25rem"></i>
            <span class="sidebar-content__text">Jugadores</span>
          </a>
        </li>

        <li class="sidebar-content__category">
          <span class="sidebar-content__category-title">Catálogos</span>
          <a routerLink="/foundations" routerLinkActive="is-active" class="sidebar-content__link">
            <img src="/assets/icon/foundation.svg" class="sidebar-content__icon" />
            <span class="sidebar-content__text">Fundaciones</span>
          </a>
          <a routerLink="/categories" routerLinkActive="is-active" class="sidebar-content__link">
            <img src="/assets/icon/category.svg" class="sidebar-content__icon" />
            <span class="sidebar-content__text">Categorias</span>
          </a>
          <a routerLink="/banners" routerLinkActive="is-active" class="sidebar-content__link">
            <i class="bi bi-images sidebar-content__icon" style="font-size: 1.25rem"></i>
            <span class="sidebar-content__text">Banners</span>
          </a>
        </li>
      }

      <li class="sidebar-content__category">
        <span class="sidebar-content__category-title">Operaciones</span>
        <a routerLink="/draws" routerLinkActive="is-active" class="sidebar-content__link">
          <i class="bi bi-trophy sidebar-content__icon" style="font-size: 1.25rem"></i>
          <span class="sidebar-content__text">Sorteos</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-content__footer">
    <a
      (click)="logout()"
      class="sidebar-content__link sidebar-content__link--logout"
      style="cursor: pointer"
    >
      <i class="bi bi-box-arrow-right sidebar-content__icon sidebar-content__icon--logout"></i>
      <span class="sidebar-content__text">Cerrar Sesión</span>
    </a>
  </div>
</aside>
