:root {
  --fs-7: 0.85rem;
  --fs-8: 0.75rem;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.fs-7 {
  font-size: var(--fs-7) !important;
}

.fs-8 {
  font-size: var(--fs-8) !important;
}
