<div class="dropdown">
  <button
    class="btn btn-link p-0 m-0 flex text-decoration-none"
    type="button"
    data-bs-toggle="dropdown"
    data-bs-popper-config='{"strategy":"fixed"}'
    aria-expanded="false"
  >
    {{ valueLabel }}
  </button>

  @if (listActions && listActions.length > 0) {
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end shadow custom-dropdown">
      @for (item of listActions; track item.id) {
        <li>
          <a
            class="dropdown-item d-flex align-items-center gap-2 cursor-pointer"
            (click)="onActionClick(item.id, $event)"
          >
            @if (item.icon) {
              <i [class]="item.icon"></i>
            }
            {{ item.label }}
          </a>
        </li>
      }
    </ul>
  }
</div>
