//bg-principal-secundario
$background: #0d1117;
$container-bg: #161b22;

//container.info xD
$container-info-bg: rgba(37, 99, 235, 0.7);
//textos
$primary-text: #e6edf3;
$secondary-text: #7d8590;

$active-text: #3fb950;
$no-tickets-text: #d29922;
$eliminated-text: #ff4757;
$finished-text: #4299e1;

//border
$border-color: #1e2532;

//buttons
$button-primary: rgba(37, 99, 235);
$button-secondary: #21262d;
$button-navigation: rgba(37, 99, 235, 0.7);

//hover
$hover-sidebar: rgba(59, 130, 246, 0.1);
$text-hover: rgba(37, 99, 235);
$hover-cancel-button: rgba(255, 255, 255, 0.05);
$button-secondary-hover: #30363d;

//bg-states
$active-bg-opaco: rgba(22, 53, 34, 0.5);
$finished-bg-opaco: rgba(26, 54, 93, 0.5);
$eliminated-bg-opaco: rgba(91, 35, 40, 0.5);
$no-tickets-bg-opaco: rgba(56, 35, 10, 0.5);
$desactive-bg-opaco: rgba(125, 133, 144, 0.5);
