@use '../../../../assets/scss/utils/variables' as var;

.filter-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  gap: 16px;

  .filters-group {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
  }

  .snackfilter-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    min-width: 60px;
    height: 42px;
    background-color: var.$container-bg;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease;

    color: var.$primary-text;
    cursor: pointer;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      background: var.$button-secondary-hover;
    }

    &.active {
      background: var.$button-primary;
      color: var.$primary-text;
    }
  }
}
